/target/
/keycloak-3.4.3.Final/
/.settings/
/config/
/.project
/.classpath
/.factorypath
/keycloak.log
/.cargo
.DS_Store
/keycloak-4.3.0.Final/
/keycloak-4.5.0.Final/
.idea
metaform-api.iml
/build
/.gradle
/.env.*
/bin/